* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;

}

.landing-page {
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
    overflow: hidden;

}

.landing-page::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./wallpaper/spectacular-iron-man-4k-yp.jpg) no-repeat;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite;
}

@keyframes anim {
    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.page-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.page-content h1 {
    color: #2e9981;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.page-content p {
    color: #fff;
    margin-bottom: 20px;

}

.page-content a {
    display: inline-block;
    text-decoration: none;
    color: #2e9981;
    border: 2px solid #2e9981;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.4s linear;
}

.page-content a:hover {
    color: #fff;
    background: #2e9981;
}

.text {
    padding: 10px;
    text-align: justify;

}

.text div {
    margin-bottom: 6px;
}

#v1 {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%); //背景灰度设置*/
    z-index: -11
}

.covervid-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.nav {
    width: 1200px;
    height: 80px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 20px rgba(37, 13, 13, 0.5);
    border-radius: 10px;
}

.nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    right: 5%;
    list-style-type: none;
}

.nav ul .nav-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc((100% / 4)*1);
    height: 10px;
    border-radius: 3px;
    transition: .5s;
}

.nav ul li {
    width: 100%;
    text-align: center;
}

.nav ul li a {
    color: rgb(233, 68, 205);
    font: 100 30px;
    font-size: 40px;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-decoration: none;
}

.nav ul li:nth-child(1):hover~.nav-box {
    left: calc(100% / 4 *0);
    background-color: rgb(238, 152, 209);
}

.nav ul li:nth-child(2):hover~.nav-box {
    left: calc(100% / 4 *1);
    background-color: rgb(240, 248, 126);
}

.nav ul li:nth-child(3):hover~.nav-box {
    left: calc(100% / 4 *2);
    background-color: rgb(225, 201, 245);
}

.nav ul li:nth-child(4):hover~.nav-box {
    left: calc(100% / 4 *3);
    background-color: rgb(121, 250, 211);
}